.introducao{
    background: no-repeat center/cover url('../../img/ensinos/fundamental/fundointroducao.png');
}
.sobretexto h1{
    margin-top: -15px;
}
.sobretexto p{
    margin-top: -5px;
}
.intro-texto{
    color: #e6e6e6;
}
.contatos{
    background-color: #02416d;
}
.titulo h1{
    color: #aedd2b;
}
.contato h2{
    color: #aedd2b;
}
.inputBox span{
    color: #0a5483;
}
.inputBox input[type="submit"]{
    background-color: #02416d;
}
.info{
    background-color: #0a5483;
}
.info .infoBox div span{
    background-color: #f8f8ec;
    color: #1693a5;
}