.introducao{
    background: no-repeat center/cover url('../../img/ensinos/fundamental/fundointroducao.png');
}
.intro-texto{
    color: #e6e6e6;
}
.contatos{
    background-color: #f7ff1f;
}
.titulo h1{
    color: #993399;
}
.contato h2{
    color: #dd27dd;
}
.inputBox span{
    color: #993399;
}
.inputBox input[type="submit"]{
    background-color: #993399;
}
.info{
    background-color: #8d158d;
}